<div class="container jumbotron text-center">
    <h1>USER REGISTRATION</h1>
</div>


<form>
    <div class="container login">

        <div class="row" id="login-row">
            <label class="col-sm-1"></label>
            <input name="username" type="text" [(ngModel)]="username" class="col-sm-12 form-control" placeholder="Enter Username" required> 

            <label class="col-sm-1"></label>
            <input name="password" type="password" [(ngModel)]="password" class="col-sm-12 form-control" placeholder="Enter Password" required> 

            <label class="col-sm-1"></label>
            <input name="firstname" type="text" [(ngModel)]="firstname" class="col-sm-12 form-control" placeholder="Enter First name" required>

            <label class="col-sm-1"></label>
            <input name="lastname" type="text" [(ngModel)]="lastname" class="col-sm-12 form-control" placeholder="Enter Last Name" required>

            <label class="col-sm-1"></label>
            <input name="email" type="text" [(ngModel)]="email" class="col-sm-12 form-control" placeholder="Enter Email" required>


            <button routerLink="../login" class="d-flex justify-content-center btn btn-dark" (click)="register()">Register</button>
        </div>
    </div>
</form>