<!--<PokemonInfo></PokemonInfo-->
<!--<messageInfo></messageInfo-->

<!--Dark red: db464d -->

<!--
<div class="row">
    <input class="col" type="number" [(ngModel)]="pokeId"/>
    <button class="btn btn-primary" (click)="getPoke(input)">Favorite Pokemon</button>
</div>
-->

<button name="followButton" class="btn btn-success" [hidden] = "isFollowed"  (click)="follow()">Follow</button>
<button name="followButton" class="btn btn-danger " [hidden] = "!isFollowed" (click)="unfollow()">Unfollow</button>

<table class="table" *ngIf="pokemon">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Sprite</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.types[0].type.name}}<span *ngIf="pokemon.types.length>1">{{pokemon.types[1].type.name | poketype}}</span></td>
            <td><img src="{{pokemon.sprites.front_default}}"></td>
        </tr>
    </tbody>
</table>

<table class="table" id="message_board">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
            <th scope="col">TimeStamp</th>
            <th scope="col">Like</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of messages">
            <td>{{m.author.username}}</td>
            <td>{{m.content}}</td>
            <td>{{m.timeStamp}}</td>
            <td> <button name="likeButton" class = "btn btn-primary" [hidden] = 'm.isLiked' (click) = "createLike(m)">Like This Message</button>
                <button name = "unlikeButton" class = "btn btn-danger" [hidden] = '!m.isLiked' (click) = "deleteLike(m)">Unlike This Message</button>
                 </td>
        </tr>
    </tbody>
</table>

<input name="message" type="text" [(ngModel)]="content" placeholder="Enter a message to post about this Pokemon"/>

<button name="messageButton" class="btn btn-primary" (click)="createMessage()">Send Message</button>
<!-- add new message function instead of getDiscussionMessages?-->