<h1>Welcome to PokeBook</h1>
<br><br>

<h2>LiveFeed</h2>
<br>

<p>Current User Information Up Here</p>

<button name="editProfile" class="btn btn-primary col-sm-3" routerLink="../edit-user">Edit User Profile</button>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">PokemonId</th>
            <th scope="col">Content</th>
            <th scope="col">TimeStamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of messages">
            <td>{{m.author.id}}</td>
            <td>{{m.pokemonId}}</td>
            <td>{{m.content}}</td>
            <td>{{m.timeStamp}}</td>
        </tr>
    </tbody>
</table>
