<div class="container jumbotron text-center">
    <h1>USER SIGN IN</h1>
</div>


<div class="container login">

    <div class="row" id="login-row">
        <label for="userName" class="col-sm-1"></label>

        <input id="username" type="text" class="col-sm-12 form-control" placeholder="Enter Username"> 

        <label for="passWord" class="col-sm-1"></label>
        <input id="password" type="password" class="col-sm-12 form-control" placeholder="Enter Password"> 
        <br/>
        <br/>

        <button class="d-flex justify-content-center btn btn-dark" (click)="login()">Log In</button>
    
        <h2>Username: {{user.username}}</h2>
        <h2>Password: {{user.password}}</h2>

    
    </div>
</div>